{% extends "bills/index.html" %}
{% load humanize %}
{% block main %}
    <h1>Bills</h1>
    {% if current_group %}
        <p>Current group: <b>{{ current_group }}</b></p>
    {% else %}
        <p>Set a current group!</p>
    {% endif %}

    <div class="row">
        <div class="col-sm-2 col-xs-2">
            Who Paid
        </div>
        <div class="col-sm-3 col-xs-3">
            Description
        </div>
        <div class="col-sm-2 col-xs-2">
            Quantity paid
        </div>
        <div class="col-sm-3 col-xs-3">
            Who Incurred
        </div>
        <div class="col-sm-2 col-xs-1"></div>
    </div>
    <hr>
    <tbody>

    <div class="row">
        <form method="post">{% csrf_token %}
            <div class="col-sm-2 col-xs-2">{{ form.who_paid }}{{ form.who_paid.errors }}</div>
            <div class="col-sm-3 col-xs-3">{{ form.description }}{{ form.description.errors }}</div>
            <div class="col-sm-2 col-xs-2">{{ form.quantity_paid }}{{ form.quantity_paid.errors }}</div>
            <div class="col-sm-3 col-xs-3">{{ form.who_owes }}{{ form.who_owes.errors }}</div>
            {{ form.group.as_hidden }}
            <div class="col-sm-2 col-xs-1"><input class="btn-primary btn" type="submit" value="Submit"/></div>

        </form>
    </div>


{% endblock %}