{% extends "bills/index.html" %}
{% load humanize %}

{% block main %}
<h1>Bills</h1>
{% if current_group %}
    <p>Current group: <b>{{ current_group }}</b></p>
{% else %}
    <p>Set a current group!</p>
{% endif %}
{#'who_paid', 'description', 'quantity_paid', 'group'#}
<table class="table table-striped table-hover table-responsive">
<thead>
<tr>
    <td>
        Who Paid
    </td>
    <td>
        Description
    </td>
    <td>
        Quantity paid
    </td>
    <td>
        Who Incurred
    </td>
    <td></td>
</tr>
</thead>
<tbody>
{% for bill in object_list %}
<tr>
    <td>
        {% if bill.who_paid.member.first_name %}
            {{ bill.who_paid.member.first_name }} {{ bill.who_paid.member.last_name }}
        {% else %}
        {{  bill.who_paid.member.email }}
        {% endif %}

    </td>
    <td>
        {{ bill.description }}
    </td>
    <td>
        ${{ bill.quantity_paid | intcomma}}
    </td>
    <td>
        {% for person in bill.who_owes.all %}

            {% if person.member.first_name %}{{ person.member.first_name }} {{ person.member.last_name }}
            {% else %}
                {{ person.member.email }}
            {% endif %}
            <br/>
        {% endfor %}
    </td>
    <td>
        <a href="{% url "bills_edit" bill.id %}">edit</a> | <a href="{% url "bills_delete" bill.id %}">delete</a>
    </td>
</tr>


{% endfor %}
</tbody>
</table>




<a href="{% url "bills_new" %}">New</a>
{% endblock %}