{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <h3>{{ title }}</h3>
{% endblock %}

{% block main %}

    {% errors_for form %}

<div class="row">
    <div class="col-sm-4 col-xs-1"></div>
<div class="col-sm-4 col-xs-10 text-center">
    <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

        <fieldset>
            <legend>{{ title }}</legend>
            <p>(Email is case sensitive)</p>
            {% if request.user.is_authenticated %}
                <a href="/settings/">Social Network settings</a>
            {% endif %}
            {% fields_for form %}

            <div class="form-actions">
                {% block account_form_actions %}
                    <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
                {% endblock %}
            </div>
        </fieldset>
    </form>
</div>
    <div class="col-sm-4 col-xs-1"></div>

</div>
{% endblock %}
