
body {
    /*width: 100%;*/
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*color: #000;*/
    background-color: #fff;
    //Lora,"Helvetica Neue",Helvetica,Arial,sans-serif

    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    text-rendering: geometricPrecision;
    color: #3A4145;

}

html {
    width: 100%;
    height: 100%;
}


h1,
h2,
h3,
h4 {
    text-align:center;
}
h5,
h6 {
    /*margin: 0 0 35px;*/
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
	color:black;
}

h10 {
	padding: 10px;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
}

h11 {
	text-align: center;
	padding: 10px;
	font: 1em , "futura_ltregular";
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;

}
.clearfix {
    zoom: 1;
}

@media(min-width:767px) {
    p {
        /*margin: 0 0 35px;*/
        font-size: 20px;
        line-height: 1.5;
		color:black
    }
}

a {
     color: #33729d;
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #142d3e;
}

.light {
    font-weight: 200;
    font-family: "Helvetica Neue";
}

.thick {
	font-weight: 500;
}

.labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;
   border: 2px solid black;
   white-space: nowrap;
 }

 .logo {
 	max-width: 35%;
 	 	-webkit-animation: fadein 4s; /* Safari and Chrome */
 	       -moz-animation: fadein 4s; /* Firefox */
 	        -ms-animation: fadein 4s; /* Internet Explorer */
 	         -o-animation: fadein 4s; /* Opera */
 	            animation: fadein 4s;

 }

.navbar {
    margin-bottom: 0;
    //border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: grey;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	color:grey;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {


        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #0e0e0e;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}
.otherPageFooter {
    /*position: absolute;*/
    /*margin: 8rem 0 0 0;*/
    /*padding: 0.5rem 15px;*/
    /*border-top: #EBF2F6 1px solid;*/
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}
.huge {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/static/media/uploads/website/images/intro-bg.jpg) no-repeat scroll;
    background-color: #0e0e0e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.75;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
	font: 40px 'futura_ltregular', Arial, Helvetica, Geneva, sans-serif;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
           -moz-animation: fadein 4s; /* Firefox */
            -ms-animation: fadein 4s; /* Internet Explorer */
             -o-animation: fadein 4s; /* Opera */
                animation: fadein 4s;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari and Chrome */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }​

    /* Opera */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }​
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    //border: 2px solid #000;
    border-radius: 35px;
    font-size: 40px;
    color: #000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    -webkit-animation: fadein 4s; /* Safari and Chrome */
           -moz-animation: fadein 4s; /* Firefox */
            -ms-animation: fadein 4s; /* Internet Explorer */
             -o-animation: fadein 4s; /* Opera */
                animation: fadein 4s;

}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #000;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 150px;
}


.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #33729d;
    color: #33729d;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #33729d;
    outline: 0;
    color: #0e0e0e;
    background-color: #33729d;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

header {
    position: fixed;
    z-index: 1000;
    background-color: #5d4c4c;
    border-bottom: 4px solid #433939;
    margin: 0 auto;
    width: 100%;
    display:block;
}
.wrap{
    min-height: 100%;
    margin-bottom: -40px;
    /*background: #f1f6f8;*/
}
footer{
     /*position: absolute;*/
    margin-top:10px;
    left: 0;
    bottom: 0;
    /*height: 100px;*/
    width: 100%;
    overflow:hidden;
    /*position: relative;*/
    /*margin: 8rem 0 0 0;*/
    padding: 0.5rem 15px;
    border-top: #EBF2F6 1px solid;
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}
.copyright{
    /*display: block;*/
    /*width: 45%;*/
    text-align:center;
    /*display: inline-block;*/
  /*vertical-align: middle;*/
}
.headerOverride{
	text-align:center;
    margin-top:15px;
    margin-bottom:15px;
}




/*Media queries*/
@media all and (max-width: 1400px), screen and (max-device-width: 1400px) {
  .col-4-12 .thumbnail img {
    width: auto;
    margin: auto;
    height: 180px;
    display: block;
  }
}
@media all and (max-width: 1300px), screen and (max-device-width: 1300px) {
  li#home {
    display: none;
  }
  .container {
    width: 74%;
  }
  nav li a,
  nav li a:visited {
    padding: 0 12px!important;
  }
  nav ul {
    margin-right: -12px;
  }
}
@media all and (max-width: 1250px), screen and (max-device-width: 1250px) {
  html,
  body {
    font-size: 94%;
  }
  .container {
    width: 78%;
  }
  .logo img {
    height: 60px;
  }
  nav .accountMenu,
  nav #menu {
    line-height: 30px;
  }
  nav #menu {
    margin-top: 30px;
  }
  .col-4-12 .thumbnail img {
    width: auto;
    margin: auto;
    height: 150px;
    display: block;
  }
  footer form.newsletterForm .form-group {
    width: 60%;
  }
}
@media all and (max-width: 1024px), screen and (max-device-width: 1024px) {
  .homeBanner .caption {
    left: 4%;
  }
  .homeBanner .caption h1 {
    font-size: 2.4em;
  }
  .homeBanner .caption .subtext {
    font-size: 1.4em;
  }
  .homeBanner form .form-group {
    width: 65%;
  }
  html,
  body {
    font-size: 90%;
  }
  header {
    padding: 16px 0;
  }
  .topbotmargin-40 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container {
    width: 84%;
  }
  .logo img {
    height: 60px;
  }
  nav .accountMenu,
  nav #menu {
    line-height: 30px;
  }
  nav #menu {
    margin-top: 30px;
  }
  nav li a,
  nav li a:visited {
    padding: 0 10px!important;
  }
  nav ul {
    margin-right: -10px;
  }
  footer form.newsletterForm .subtext {
    font-size: 1.2em;
  }
  footer form.newsletterForm .form-group {
    width: 57%;
  }
  /*
	nav #menu {
		li#home {
			display: none;
		}
	}
	.logo {
		img {
			height:60px;padding:12px 0;
		}
	}
	nav {
		.dropdown-menu {
			li.age, li.categories {
				width: 50%;
			}

		}
	}*/
}
@media all and (max-width: 768px), screen and (max-device-width: 768px) {
  .container {
    width: 88%;
  }
  .logo img {
    height: 50px;
  }
  nav .accountMenu,
  nav #menu {
    line-height: 25px;
  }
  nav #menu {
    margin-top: 25px;
  }
  .sideBar {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .productRow {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .productRow .col-3-12 {
    width: 25%;
  }
  .productRow .col-3-12 .thumbnail img {
    height: 120px;
    width: auto;
  }
  .productRow .col-4-12 {
    width: 33.33333333%;
  }
  .bookRow .productImage {
    width: 30%;
  }
  .bookRow .col-7-12 {
    width: 70%;
  }
}
/*ipad LANDSCAPE*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    width: 84%;
  }
  .logo img {
    height: 60px;
  }
  nav .accountMenu,
  nav #menu {
    line-height: 30px;
  }
  nav #menu {
    margin-top: 30px;
  }
  .sideBar {
    width: 25%;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .productRow {
    border-bottom: 2px solid #cfcfcf;
    border-width: 1px;
    margin-bottom: 20px;
  }
  .productRow .col-3-12 {
    width: 25%;
  }
  .productRow .col-3-12 .thumbnail img {
    height: 150px;
    width: auto;
  }
  .productRow .col-4-12 {
    width: 33.33333333%;
  }
  .bookRow .productImage {
    width: 41.66666666%;
  }
  .bookRow .col-7-12 {
    width: 58.33333333%;
  }
}
/*ipad PORTRAIT*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    width: 88%;
  }
  .logo img {
    height: 50px;
  }
  nav .accountMenu,
  nav #menu {
    line-height: 25px;
  }
  nav #menu {
    margin-top: 25px;
  }
  .sideBar {
    width: 100%;
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .productRow {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .productRow .col-3-12 {
    width: 25%;
  }
  .productRow .col-3-12 .thumbnail img {
    height: 120px;
    width: auto;
  }
  .productRow .col-4-12 {
    width: 33.33333333%;
  }
  .bookRow .productImage {
    width: 30%;
  }
  .bookRow .col-7-12 {
    width: 70%;
  }
}
@media all and (max-width: 767px), screen and (max-device-width: 767px) {
  .container {
    width: 92%;
  }
  header {
    padding: 12px 0;
  }
  .mobileOnly {
    display: block;
  }
  .productRow {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .productRow .col-3-12 {
    width: 50%;
    margin-bottom: 30px;
  }
  .productRow .col-3-12 .thumbnail img {
    height: 120px;
    width: auto;
  }
  .productRow .col-4-12 {
    width: 50%;
    float: none;
    margin: auto;
    margin-bottom: 30px;
  }
  .productRow .col-4-12 .thumbnail img {
    width: 100%;
    height: auto;
  }
  .logo img {
    height: 44px;
    padding: 3px 0;
    width: auto;
  }
  .menu-icon {
    display: block;
  }
  nav .accountMenu li a,
  nav .accountMenu li a:visited {
    padding: 0 6px!important;
    font-size: 15px;
  }
  nav ul#menu {
    margin-right: 0;
  }
  nav #menu {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 62px;
    left: 0;
    width: 100%;
    border: 2px solid #444444;
    margin-top: 0;
  }
  nav #menu li {
    width: 100%;
    float: none;
  }
  nav #menu li a,
  nav #menu li a:visited {
    line-height: 40px;
    background: #ffffff;
  }
  nav #menu .dropdown-menu {
    width: 100%;
    margin-top: 0;
    position: relative;
    border: 0;
    padding-left: 14px;
  }
  nav .accountMenu {
    line-height: 50px;
    position: relative;
  }
  .homeBanner .caption {
    left: 4%;
  }
  .homeBanner .caption h1 {
    letter-spacing: 0;
    font-size: 1.8em;
    width: 80%;
  }
  .homeBanner .caption .subtext {
    display: none;
  }
  .homeBanner form {
    display: none;
  }
  form.newsletterForm {
    background: #E8E8E8;
    padding: 12px;
    margin-top: 6px;
  }
  form.newsletterForm .subtext {
    font-size: 1.4em;
    margin-bottom: 12px;
  }
  form.newsletterForm .form-group {
    margin-bottom: 0;
  }
  form.newsletterForm button[type="submit"] {
    width: 100%;
    line-height: 36px;
    font-size: 1.1em;
    border: 0;
    padding: 0;
  }
  form.newsletterForm input {
    line-height: 36px;
    font-size: 1.1em;
    background: #ffffff;
    border: 0;
    padding: 0 10px;
  }
  .mainSearchForm {
    margin-top: 12px;
  }
  .mainSearchForm .ten {
    width: 62%;
  }
  .mainSearchForm .five {
    width: 27%;
  }
  .mainSearchForm .one {
    width: 11%;
  }
  .copyright,
  .credit {
    width: 100%;
    float: none;
  }
  .credit {
    margin-top: 10px;
  }
  .credit .floatRight {
    float: none;
  }
  .credit .socialMedia {
    margin-bottom: 10px;
    float: left;
  }
  .credit .socialMedia li {
    float: none;
  }
  .topbotmargin-40 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  footer form.newsletterForm {
    padding: 12px;
    margin: 20px 0;
  }
  footer form.newsletterForm .subtext,
  footer form.newsletterForm .form-group {
    float: none;
  }
  footer form.newsletterForm button[type="submit"] {
    line-height: 34px;
  }
  footer form.newsletterForm .subtext {
    line-height: 1;
    margin-bottom: 12px;
  }
  footer form.newsletterForm .form-group {
    width: 100%;
  }
  .bookRow .productImage {
    width: 100%;
    margin-bottom: 20px;
  }
  .bookRow .productImage img {
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
  }
  .bookRow .col-7-12 {
    width: 100%;
    text-align: center;
  }
  .bookRow .col-7-12 .btn {
    float: none;
  }
  .bookRow .col-7-12 .productDetails .price {
    margin: 12px 0;
  }
  .moreProducts {
    margin-top: 50px;
  }
}

#id_username,
#id_password,
#id_first_name,
#id_last_name,
#id_email,
#id_password1,
#id_password2
{
    margin: 0 auto;
}
