{% extends "payments/index.html" %}
{% load humanize %}
{% load staticfiles %}


{% block main %}
    <h1>{{ current_group }} Dashboard</h1>
    <ul class="list-group">
    {% for key, value in lah.items %}
            {% if value < 0 %}
                <li class="list-group-item list-group-item-success">{{ key }} is owed {{ value | stringformat:"+.2f"|slice:"1:"  }}</li>
            {% elif value == 0 %}
                <li class="list-group-item list-group-item-info">{{ key }} owes nothing!</li>
            {% else %}
                <li class="list-group-item list-group-item-danger">{{ key }} owes {{ value }}</li>
            {% endif %}
    {% endfor %}
    </ul>
{#    <canvas id="myChart" width="500" height="400"></canvas>#}
{##}
{#    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>#}
{#    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>#}
{#    <script type="text/javascript">#}
{#        var bills = {{ bills | safe }};#}
{#        var lah = {{ lah | safe }}#}
{#        var data = {#}
{#            "labels": ["January", "February", "March", "April", "May", "June", "July"],#}
{#            "datasets": [{#}
{#                "pointColor": "rgba(203, 202, 198, 1)",#}
{#                "strokeColor": "rgba(203, 202, 198, 1)",#}
{#                "data": [75, 44, 92, 11, 44, 95, 35],#}
{#                "fillColor": "rgba(203, 202, 198, 0.5)",#}
{#                "pointStrokeColor": "#fff"#}
{#            }, {#}
{#                "pointColor": "rgba(172, 10, 1, 1)",#}
{#                "strokeColor": "rgba(172, 10, 1, 1)",#}
{#                "data": [41, 92, 18, 3, 73, 87, 92],#}
{#                "fillColor": "rgba(172, 10, 1, 0.5)",#}
{#                "pointStrokeColor": "#fff"#}
{#            }, {#}
{#                "pointColor": "rgba(167, 79, 47, 1)",#}
{#                "strokeColor": "rgba(167, 79, 47, 1)",#}
{#                "data": [87, 21, 94, 3, 90, 13, 65],#}
{#                "fillColor": "rgba(167, 79, 47, 0.5)",#}
{#                "pointStrokeColor": "#fff"#}
{#            }]#}
{#        };#}
{#        debugger;#}
{#        $.get('{% url 'line_chart_json' %}', function (data) {#}
{#            var ctx = $("#myChart").get(0).getContext("2d");#}
{#            new Chart(ctx).Line(data);#}
{#        });#}
{#    </script>#}
{% endblock %}