{% extends "payments/index.html" %}
{% load humanize %}
{% block main %}
    <h1>Payments</h1>
    {% if current_group %}
        <p>Current group: <b>{{ current_group }}</b></p>
    {% else %}
        <p>Set a current group!</p>
    {% endif %}
    <div class="row">

        <div class="col-sm-3 col-xs-3">
            From
        </div>
        <div class="col-sm-3 col-xs-3">
            To
        </div>
        <div class="col-sm-3 col-xs-3">
            Quantity paid
        </div>

        <div class="col-sm-2 col-xs-2"></div>
    </div>
    <hr>
<div class="row">


    <form method="post">{% csrf_token %}
        <div class="col-sm-3 col-xs-3">{{ form.from_user }}{{ form.from_user.errors }}</div>
        <div class="col-sm-3 col-xs-3">{{ form.to_user }}{{ form.to_user.errors }}</div>
        <div class="col-sm-3 col-xs-3">{{ form.quantity_paid }}{{ form.quantity_paid.errors }}</div>

        {{ form.group.as_hidden }}
        <div class="col-sm-2 col-xs-1"><input class="btn-primary btn" type="submit" value="Submit"/></div>

    </form>
</div>

{% endblock %}