{% extends "group/index.html" %}
{% block main %}
<h1>Group Members</h1>
<ul>
    {% for member in object_list %}
    {% if member.member.first_name %}
        <li>{{ member.member.first_name }} {{ member.member.last_name }}:
            <a href="{% url "group_member_delete" member.group.id member.id %}">delete</a>
        </li>
    {% else %}
        <li>{{ member.member.email }}:
            <a href="{% url "group_member_delete" member.group.id member.id %}">delete</a>
        </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}