{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<div class="text-center">
<h2>Welcome to Housemates!</h2>
<p>
    This system is designed to make managing a group simpler.
</p>

{% if request.user.is_authenticated %}
{% if not request.user.group.first.id %}
    <p>
        <p class="text-center">You'll need to <a href="{% url "group_new" %}">start</a> or
            <a href="{% url "group_find" %}">join</a> a group first!</p>
    </p>
{% else %}
    <p>
        Click <a href="/bills/">here</a> to start tracking your group's expenses
    </p>
{% endif %}
{% else %}
<p>You'll need to <a href="/accounts/signup/">register</a> or <a href="/accounts/login/">login</a> first!</p>
{%  endif %}
<script src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" href="https://gum.co/XkUlz" target="_blank">Please help keep Housemates going!</a>
</div>


{% endblock %}
