{% extends "household/index.html" %}
{% block main %}
<h1 class="text-center">Households</h1>

    {% if not request.user.household.first.id %}
        <p class="text-center">You'll need to <a href="{% url "household_new" %}">start</a> or
            <a href="{% url "household_find" %}">join</a> a household first!</p>
    {% else %}
        <a href="{% url "household_new" %}">New</a>
        <ul>
    {% for household in object_list %}
    <li>{{ household.name }} ---
        {% for house in request.user.household.all %}
            {% if house.household.id == household.id %}
                <a href="{% url "household_read" household.id %}">View</a>
            {% endif %}
        {% endfor %}

    | <a href="{% url "household_edit" household.id %}">Edit</a> | <a href="{% url "household_delete" household.id %}">Delete</a>
    </li>
    {% endfor %}
        </ul>



    {% endif %}

{% endblock %}